    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Call</title>
    </head>

    <body>
        <h2>Call</h2>
        <ul id="messages"></ul>

        <audio id="remoteAudio" autoplay></audio>
        <button id="endCall" onclick="endCall()">End Call</button>

        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/calls.js"></script>

    </body>
    
    </html>