<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <title>Home</title>
</head>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <div class="container">
        <section>
            <nav id="user-search-nav">
                <form id="searchForm">
                    <label for="search">User Name:</label>
                    <input id="search" type="text" required>
                    <button type="submit">Enter</button>
                </form>

            </nav>
        </section>
        <section>
            <form id="roomForm">
                <label for="name">Enter Room Name:</label>
                <input id="nameInput" type="text" required>
                <button type="submit">Enter</button>
            </form>
        </section>



    </div>

    <script>

    </script>
    <script src="/socket.io/socket.io.js"></script>

    <script src="/js/home.js">

    </script>

</body>

</html>


</body>

</html>