<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <title>Home</title>
</head>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <div class="container">
        <section>
            <form id="search-form">
                <label for="search">Search User:</label>
                <input id="input_username" type="text" placeholder="mat-hi..." required>
                <button type="submit">Search</button>
            </form>
            <div id="search-result"></div>

            <div id="friend-list"></div>
        </section>

        <section>
            <form id="roomForm">
                <label for="name">Enter Room Name:</label>
                <input id="nameInput" type="text" required>
                <button type="submit">Create Room</button>
            </form>
        </section>
    </div>

    <!-- Your JavaScript code goes here -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/home.js"></script>
</body>

</html>


</body>

</html>